@font-face {
  font-family: 'Greconian';
  src: url('../fonts/GreconianRegular.woff') format('woff'),
       url('../fonts/Greconian.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1; 
  pointer-events: none;
}




body {
    font-family: 'Cinzel', serif;
    margin-top: 90px;
    background-image: url('../image/fond22.png');
    background-color: #ebdcbd;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
  
}

h1 {
    color: #321b0d;
    font-size: 3rem; 
    font-family: 'Greconian', sans-serif;
    margin-top: 5px;
    margin-bottom: 2px;
    opacity: 0;
    animation: h1 2s ease-in forwards;
}


@keyframes h1 {
  to {
    opacity: 1;
  }
}


.button-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
  }
  
  .btn {
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    background: #8b5e3c;
    transition: 0.1s;
    position: relative;
    z-index: 10;
    font-family: 'Greconian', serif;
  }
  
  
  .btn:hover {
    transform: scale(0.9);
    background: radial-gradient(circle at 10% 20%, #c8a068 20%, #f3844c 100%);
    transition: 0.5s;
  }
  
  .round-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #8b5e3c;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, background 0.3s ease;
  z-index: 100;
  font-family: 'Cinzel', serif;
}

.round-btn:hover {
  transform: scale(0.9);
    background: radial-gradient(circle at 10% 20%, #c8a068 20%, #f3844c 100%);
    transition: 0.5s;
}

.troop-count {
  font-family: 'Greconian', serif;
  font-size: 16px;
  font-weight: bold;
  color: #321b0d;
}

#game-board {
    border: 8px solid #8B5E3C;
    border-radius: 5px;       
    padding: 1px;  
  
}

#troop-info-panel {
    position: fixed;
    top: 120px;
    right: 40px;
    width: 160px;
    min-height: 250px;
    background: rgba(255, 255, 255, 0.677);
    border-radius: 12px;
    padding: 18px 20px;
    color: #321b0d;
    font-family: 'Cinzel', serif;
    font-size: 15px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.13);
    z-index: 1000;
    display: none;
    margin-top: 160px;


}



#troop-info-panel hr {
    margin: 8px 0;
}
